# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build Output
dist
dist-ssr
coverage

# Environment Variables (QUAN TRỌNG: Chặn tất cả file chứa Key)
.env
.env.local
.env.*.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows System Files (Vì bạn dùng Windows)
Thumbs.db
ehthumbs.db
Desktop.ini

# Netlify (Vì bạn deploy lên Netlify)
.netlify